/protected/runtime/*
!protected/runtime/.gitAdd
/protected/config/*-local.php
protected/config/*-local.php
./protected/config/*-local.php
/webroot/assets/*
!webroot/assets/.gitAdd
/.idea/workspace.xml
.idea/workspace.xml
.idea/deployment.xml
/.idea/deployment.xml
.idea/vagrant.xml
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/dictionaries/
/atlassian-ide-plugin.xml
atlassian-ide-plugin.xml
protected/modules/*